.userImage {
    width: 30px;
    border-radius: 50%;
}

.user {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 550px;
}